<div class="flex w-full z-30 fixed flex-col">
  <div class="w-full bg-[#1327bf] gap-3 py-1 flex flex-row justify-center">
    <div class="flex flex-row items-center gap-2">
      <img class="w-[20px]" src="/giftbox.png" alt="" />
      <span class="text-white">Free Shipping on Orders Over $50!</span>
    </div>
    <button class="bg-white text-black px-2 rounded-md text-xs">
      Shop Now
    </button>
  </div>

  <header class="w-full py-4 bg-white border-b-2 border-gray-300">
    <div class="container flex flex-row justify-between">
      <!-- logo -->
      <div class="flex flex-row items-center gap-2">
        <div
          class="px-4 flex flex-row items-center gap-2 border-r-2 border-gray-300"
        >
          <img class="w-[30px]" src="/shopping.png" alt="" />
          <a routerLink="/">
            <span class="font-bold text-2xl text-black">E-Rynek</span>
          </a>
        </div>
        <div class="relative">
          <div class="flex flex-row items-center gap-4">
            <button
              (click)="toggleMenu()"
              class="flex flex-row items-center gap-2"
            >
              <span class="nav-item text-black">Shopping</span>
              <img
                class="w-[10px]"
                [src]="IsOpened() ? '/arrow-up.png' : '/down-arrow.png'"
                alt=""
              />
            </button>

            <a class="nav-item text-black" routerLink="contact">Contact </a>
            <a class="nav-item text-black" routerLink="about">About Us </a>
          </div>

          <div
            [ngClass]="{ 'show-menu ': IsOpened(), 'hide-menu': !IsOpened() }"
            class="absolute top-12 bg-white w-[200px] rounded-lg px-4 py-3 shadow-xl"
          >
            <div class="flex h-full flex-row justify-between gap-2">
              <div class="flex-flex-col">
                <span class="font-bold pb-3 text-black">Catalog</span>
                <div class="flex flex-col gap-1 text-gray-600 menu-items">
                  <a routerLink="">All Products </a>

                  <a href="">beauty</a>
                  <a href="">fragrances </a>
                  <a href="">furniture </a>
                  <a href="">groceries </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- navbar -->
      <nav class="flex flex-row items-center gap-2">
        <div>
          <button
            routerLink="/layout/allProducts"
            class="nav-btn hover:bg-slate-200 transition-all py-2 px-2 rounded-full"
          >
            <img class="w-[18px]" src="/search.png" alt="" />
          </button>
        </div>
        <!-- login  -->
        @if (isLoggedIn) {
        <p class="text-black">user</p>
        } @else {
        <div class="relative">
          <button
            (click)="UserBoxToggle()"
            class="relative nav-btn hover:bg-slate-200 transition-all py-2 px-2 rounded-full"
          >
            <img class="w-[18px]" src="/user.png" alt="" />
          </button>

          <div
            [ngClass]="{ 'show-menu': IsUserbox(), 'hide-menu': !IsUserbox() }"
            class="absolute top-[50px] right-0 w-[150px] px-2 py-3 rounded-lg bg-white shadow-lg"
          >
            <div class="flex flex-col gap-2">
              <a
                routerLink="/login"
                class="flex hover:bg-slate-100 py-1 transition-all px-2 rounded-md flex-row items-center gap-2"
              >
                <img class="w-[15px]" src="/login.png" alt="" />
                <span class="text-black">Sign in</span>
              </a>
              <a
                href=""
                class="flex flex-row py-1 hover:bg-slate-100 transition-all px-2 rounded-md items-center gap-2"
              >
                <img class="w-[16px]" src="/heart.png" alt="" />
                <span class="text-black">Wishlists</span>
              </a>
            </div>
          </div>
        </div>
        }

        <!-- shopping bag -->
        <div>
          <button
            (click)="toggleCart()"
            class="nav-btn hover:bg-slate-200 transition-all py-2 px-2 rounded-full relative btn-cart"
          >
            <img class="w-[18px]" src="/shopping-bag.png" alt="" />
            <div
              class="absolute text-white font-bold text-center bg-red-500 top-0 right-[-3px] px-1 text-xs rounded-full"
            >
              {{ Quantity() }}
            </div>
          </button>
        </div>
      </nav>
    </div>
  </header>
</div>
<div
  [ngClass]="{ overlay: IsCartOpened() }"
  class="absolute inset-0 pointer-events-none"
></div>
<!-- <app-cart
  [ngClass]="{ 'show-cart': IsCartOpened(), 'hide-cart': !IsCartOpened() }"
  class="h-full absolute z-20 bg-white shadow-lg right-0 top-0"
></app-cart> -->
