<section class="container">
  <div class="w-full flex flex-row justify-center">
    <h2 class="text-black pb-3 title w-fit font-bold text-center text-3xl">
      What are you shopping for today?
    </h2>
  </div>

  <div
    class="grid grid-cols-4 gap-6 rounded-lg justify-center items-center mt-10"
  >
    @for (category of categoriesItem; track $index) { @for (item of
    category.icategoryItems; track $index) {

    <div class="flex flex-col items-center">
      <button>
        <div
          class="flex flex-col w-[180px] py-2 rounded-lg category-card items-center justify-center shadow-md border"
        >
          <img
            class="w-[100px] h-[100px] object-cover rounded-md px-1 py-1"
            src="{{ item.imagePath }}"
            alt=""
          />
          <h2 class="text-black text-center font-semibold text-sm mt-2">
            {{ item.name }}
          </h2>
        </div>
      </button>
    </div>

    } }
  </div>
</section>
