<section class="w-full min-h-screen relative f-sec py-8 px-4 md:px-8 lg:px-14">
  <div
    class="container h-full flex flex-col items-center justify-center md:flex-row md:items-center md:justify-between"
  >
    <!-- Content Box -->
    <div
      class="box mt-32 flex flex-col gap-4 bg-white w-full max-w-[370px] p-4 rounded-lg md:max-w-[450px] lg:max-w-[500px]"
    >
      <p
        class="text-black font-bold text-xl leading-8 text-pretty md:text-2xl md:leading-9"
      >
        <span class="text-[#1327bf]">Discover</span> the Best in Beauty,
        Fragrances, Furniture & Groceries – Elevate Your Lifestyle with
        Handpicked Essentials Just for You!
      </p>

      <p class="text-gray-500 text-base md:text-lg">
        Find everything you need to make your home and lifestyle even better.
      </p>

      <button
        class="bg-[#1327bf] w-full md:w-fit px-4 py-2 md:px-5 md:py-3 text-white rounded-md text-base md:text-lg"
      >
        Shopping Now
      </button>
    </div>

    <!-- Details Section -->
    <div
      class="absolute bottom-[-40px] lg:bottom-[-20px] left-0 right-0 mx-auto w-[90%] px-4 flex flex-col sm:flex-row items-center gap-3 text-black py-4 bg-white rounded-lg shadow-xl md:w-[80%] lg:w-[70%]"
    >
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-full items-center"
      >
        <div class="details flex flex-row items-center gap-3 pr-2 md:pr-4">
          <div>
            <img
              class="w-[30px] md:w-[40px]"
              src="/truck.png"
              alt="Free shipping"
            />
          </div>
          <div class="flex flex-col">
            <p class="text-black font-medium text-sm md:text-base">
              Free shipping
            </p>
            <p class="text-gray-500 text-xs md:text-sm">
              When you spend $80 or more
            </p>
          </div>
        </div>

        <div class="details flex flex-row items-center gap-3 pr-2 md:pr-4">
          <div>
            <img
              class="w-[30px] md:w-[40px]"
              src="/messenger.png"
              alt="24/7 support"
            />
          </div>
          <div class="flex flex-col">
            <p class="text-black font-medium text-sm md:text-base">
              We are available 24/7
            </p>
            <p class="text-gray-500 text-xs md:text-sm">
              Need help? contact us anytime
            </p>
          </div>
        </div>

        <div class="details flex flex-row items-center gap-3 pr-2 md:pr-4">
          <div>
            <img
              class="w-[30px] md:w-[40px]"
              src="/product-return.png"
              alt="Easy returns"
            />
          </div>
          <div class="flex flex-col">
            <p class="text-black font-medium text-sm md:text-base">
              Satisfied or return
            </p>
            <p class="text-gray-500 text-xs md:text-sm">
              Easy 30-day return policy
            </p>
          </div>
        </div>

        <div class="flex flex-row items-center gap-3 pr-2 md:pr-4">
          <div>
            <img
              class="w-[30px] md:w-[40px]"
              src="/credit-card.png"
              alt="Secure payments"
            />
          </div>
          <div class="flex flex-col">
            <p class="text-black font-medium text-sm md:text-base">
              100% secure payments
            </p>
            <p class="text-gray-500 text-xs md:text-sm">
              Visa, Mastercard, Stripe, PayPal
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="category-item py-24">
  <app-category-item></app-category-item>
</section>

<section class="second-section m-h-[500px] flex items-center justify-center">
  <div
    class="container bg-[#293fe4a6] justify-center py-10 px-8 rounded-lg grid grid-cols-1 lg:grid-cols-2 gap-10 items-center"
  >
    <!-- Text Content -->
    <div class="flex flex-col justify-center gap-4">
      <h2 class="text-6xl font-bold text-white">Explore Our Mobile App</h2>
      <p class="text-lg text-gray-200">
        Get the best shopping experience right at your fingertips. Fast, secure,
        and easy to use.
      </p>
      <p class="text-md text-gray-300">
        Download now and start your journey with us!
      </p>

      <div class="flex flex-row items-center">
        <a href="https://play.google.com/store/games?hl=en&pli=1">
          <img class="w-[140px]" src="/appstore.png" alt="" />
        </a>
        <a href="https://www.apple.com/pl/app-store/">
          <img class="w-[140px]" src="/appstor.png" alt="" />
        </a>
      </div>
    </div>

    <!-- Phone Image -->
    <div class="flex justify-center lg:justify-end">
      <img class="w-[300px]" src="/phone-mack.png" alt="Phone Mockup" />
    </div>
  </div>
</section>

<section class="px-4 container py-20">
  <app-list></app-list>
</section>

<!-- [autoplayInterval]="3000" -->
