<section class="w-full h-screen relative f-sec py-16 px-14">
  <div class="container h-full flex flex-row items-center">
    <div
      class="box flex flex-col gap-4 bg-white w-[370px] py-3 px-4 rounded-lg"
    >
      <p class="text-black font-bold text-2xl leading-9 text-pretty">
        <span class="text-[#1327bf]">Discover</span> the Best in Beauty,
        Fragrances, Furniture & Groceries – Elevate Your Lifestyle with
        Handpicked Essentials Just for You!
      </p>

      <p class="text-gray-500 text-lg">
        Find everything you need to make your home and lifestyle even better.
      </p>

      <button class="bg-[#1327bf] w-fit px-5 py-3">Shopping Now</button>
    </div>

    <div
      class="absolute px-4 flex flex-row items-center gap-3 bottom-[-20px] left-0 right-0 mx-auto w-[90%] md:w-[80%] lg:w-[70%] text-black py-4 shadow-xl bg-white"
    >
      <div class="grid grid-cols-4 gap-5 items-center">
        <div class="details flex flex-row items-center gap-4 pr-4">
          <!-- icon -->
          <div>
            <img class="w-[40px]" src="/truck.png" alt="" />
          </div>
          <!-- details -->
          <div class="flex flex-col">
            <p class="text-black font-medium">Free shipping</p>
            <p class="text-gray-500 text-sm">When you spend $80 or more</p>
          </div>
        </div>

        <div class="details flex flex-row items-center gap-4 pr-4">
          <!-- icon -->
          <div>
            <img class="w-[30px]" src="/messenger.png" alt="" />
          </div>
          <!-- details -->
          <div class="flex flex-col">
            <p class="text-black font-medium">We are available 24/7</p>
            <p class="text-gray-500 text-sm">Need help? contact us anytime</p>
          </div>
        </div>

        <div class="details flex flex-row items-center gap-4 pr-4">
          <!-- icon -->
          <div>
            <img class="w-[30px]" src="/product-return.png" alt="" />
          </div>
          <!-- details -->
          <div class="flex flex-col">
            <p class="text-black font-medium">Satisfied or return</p>
            <p class="text-gray-500 text-sm">Easy 30-day return policy</p>
          </div>
        </div>

        <div class="flex flex-row items-center gap-4 pr-4">
          <!-- icon -->
          <div>
            <img class="w-[30px]" src="/credit-card.png" alt="" />
          </div>
          <!-- details -->
          <div class="flex flex-col">
            <p class="text-black font-medium">100% secure payments</p>
            <p class="text-gray-500 text-sm">
              Visa, Mastercard, Stripe, PayPal
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="category-item py-24">
  <app-category-item></app-category-item>
</section>

<section class="second-section h-[600px]">ss</section>

<section class="px-4 container">
  <app-list></app-list>
</section>

<!-- [autoplayInterval]="3000" -->
