<div class="cartShopping px-7 h-screen overflow-y-auto custom-scroll">
  <!-- Header -->
  <div class="pt-28">
    <h2 class="text-black text-3xl border-b border-gray-300 py-4 font-bold">
      Shopping Cart
    </h2>
  </div>

  <!-- Items List with Scroll -->
  <div class="items pt-4 max-h-[60vh] overflow-y-auto">
    <div class="flex flex-col gap-6">
      @for (item of cartItems(); track $index) {
      <div
        class="flex items-center justify-between p-4 bg-gray-100 rounded-lg shadow-sm"
      >
        <!-- Product Image and Details -->
        <div class="flex items-center gap-4">
          <img
            class="w-16 h-16 object-cover rounded-md"
            src="{{ item.product.images[0] }}"
            alt="{{ item.product.title }}"
          />
          <div class="flex flex-col">
            <h2 class="text-black font-bold text-sm">
              {{ item.product.title }}
            </h2>
            <p class="text-gray-500">${{ item.product.price }}</p>
          </div>
        </div>

        <!-- Quantity Controls -->
        <div class="flex items-center gap-3">
          <button class="bg-gray-300 text-black px-3 py-1 rounded-md">-</button>
          <span class="text-black font-bold">{{ item.quantity }}</span>
          <button class="bg-indigo-500 text-white px-3 py-1 rounded-md">
            +
          </button>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- Total Price -->
  <div class="fixed right-0 bottom-20 pr-9">
    <p class="text-indigo-500 bg-white font-bold text-xl">
      Total Price: ${{ totalCost() }}
    </p>
  </div>

  <!-- Checkout Button -->
  <div class="fixed py-4 bottom-0 text-black">
    <button
      class="uppercase font-bold px-8 py-2 text-white rounded-md bg-indigo-500"
    >
      checkout
    </button>
  </div>
</div>
